@CHARSET "ISO-8859-1";

.modal-header {
	background-color: #5cb85c;
	color: white !important;
	text-align: center;
	height: 70px;
}

.modal-header h4, .close {
	background-color: #5cb85c;
	color: white !important;
	text-align: center;
	font-size: 20px;
}

.modal-footer {
	background-color: #f9f9f9;
}

#sizeLogin {
	max-width: 450px;
	width: 90%;
	height: 400px;
}

#sizeRegister {
	max-width: 450px;
	width: 90%;
	height: 620px;
}

.restaurant-thumbnail {
	max-height: 120px;
	width:100%;
	max-width: 220px;
	object-fit: cover;
	text-align: center;
}

.top-carousel {
	margin-top: 50px;
	position: relative;
}

.top-carousel-img {
	max-height: 250px; 
	width: 100%; 
	object-fit: cover;
	border: 0px;
}

.restaurant-well-content {
	margin: 10px 0px ;
	padding: 10px 50px;
}

#searchForm {
	border: 4 px solid black;
	height: 100px;
	width: 600px;
	margin-left: 200px;
	padding: 30px;
}

#searchLocation {
	padding: 20px;
	size: 10px;
	margin-right: 20px;
}

div.dropdown {
	position: sticky;
	margin-top: 20px;
}

#menuRest {
	position: sticky;
	margin-top: 200px;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
#footer-message {
	background-color: #f2f2f2;
	padding: 25px;
	text-align: center;
	background-color: gray;
	padding: 25px;
	color: white;
	width: 80%;
	max-width: 960px;
	margin: 0 auto 0;
	height: 60px;
}
.myf {
	background-color: #f2f2f2;
	padding: 25px;
	text-align: center;
	background-color: gray;
	padding: 25px;
	color: white;
	width: 80%;
	max-width: 960px;
	margin: 0 auto 0;
	height: 60px;
}


#imgStyle{
	max-height: 80px; 
	width: 100%; 
	object-fit: cover;
}

.idTitle{
	font-size: 100px;
	margin-top: 10px;
	margin-left: 10px;
	padding: 20px;
	display: inline; 
}

li { 
    display: inline;
    list-style-type: none;
}

.top-carousel-indicators{
	top: 220px;
	bottom: auto;
}
.list-restaurant-img-thumbnail{
	width: 100%;
	 margin-left: auto;
	 margin-right: auto;
	 max-height: 160px;
	 height: 160px;
}
.restaurant-img-thumbnail{
	 width: 90%;
	 margin-left: auto;
	 margin-right: auto;
	 max-height: 250px;
	
}
.glyphicon-plus{
	margin-right: 50px;
	
}
.product-style{
	/* border-style:inset;
    border-width:5px;  */ 
    border-color: white;
    border-bottom-style: solid;
}

.size-description{
	margin-top: 10px;
}

.size-plus{
	margin-top: 30px;
}
.position-next-page{
	text-align:right:
}
