/* .btn-default:hover {
	color: #333;
	background-color: #92b992;
	border-color: #92b992;
}

.btn-default {
	color: #333;
	background-color: #c1d7c1;
	border-color: #c1d7c1;
}

.btn {
	radius:0px;
} */

#page-body {
	padding-right: 0px;
	width: 100%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease
}

#page-sidebar {
	top: auto;
	bottom: 0px;
	border-width: 0px;
	background: #eeee;
	border-color: #30694a;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	width: 0%;
	z-index: 1000;
	position: fixed;
	right: 0px;
	width: 0px;
	height: 0px;
	bottom: 0px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	width: 0%;
	border-width: 0px;
}

.sidebar-users {
	padding: 10px;
	max-height: 180px;
	overflow-y: scroll;
}

.input-item-right {
	width: 20%;
}

.input-item-left {
	float: left;
	width: 80%;
}

#page-body.sidebar-toggled #page-sidebar {
	width: 400px;
	height: auto;
	top: 50px;
	bottom: 0px;
	border-width: 1px;
}

@media ( min-height : 700px) {
	#page-body.sidebar-toggled #page-sidebar {
		height: 600px;
		top: auto;
	}
}

.page-container {
	margin-right: auto;
	margin-left: auto;
}

#page-sidebar-header {
	background-color: #28583d;
	height: 40px;
	color: white;
	padding: 10px;
}

#sidebar-minimize, #sidebar-maximize {
	float: right;
	color: white;
}

@media ( min-width : 768px) {
	.page-container {
		width: 750px;
	}
}

@media ( min-width : 992px) {
	.page-container {
		width: 970px;
	}
}

@media ( min-width : 1200px) {
	.page-container {
		width: 1170px;
	}
	#page-body.sidebar-toggled .page-container {
		width: 820px;
	}
	#page-body.sidebar-toggled {
		padding-right: 400px;
	}
	#page-sidebar {
		border-width: 0px;
		height: auto;
		top: 50px;
		bottom: 0px;
		right: 0px;
		width: 0px;
		margin-left: -250px;
		overflow-y: auto;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
		right: 0px;
	}
	@media ( min-height : 700px) {
		.sidebar-users {
			padding: 10px;
			max-height: 100%;
			overflow-y: auto;
		}
	}
	#page-body.sidebar-toggled #page-sidebar {
		width: 400px;
		height: auto;
		top: 50px;
		bottom: 0px;
		border-width: 1px;
		top: 50px;
	}
}

@media ( min-width : 1400px) {
	.page-container {
		width: 1170px;
	}
	#page-body.sidebar-toggled .page-container {
		width: 970px;
	}
	#page-body.sidebar-toggled {
		padding-right: 400px;
	}
}

#page-body.sidebar-toggled #page-sidebar.sidebar-minimized {
	height: 42px;
	bottom: 0px;
	top: auto;
}

#page-body.sidebar-toggled #page-sidebar.sidebar-minimized #page-sidebar-content {
	display: none;
}

#page-body.sidebar-toggled #page-sidebar.sidebar-minimized #page-sidebar-header {
	bottom: 0px;
	top: auto;
}

#sidebar {
	background-color: lightgrey;
	-webkit-transition: margin 0.3s ease;
	-moz-transition: margin 0.3s ease;
	-o-transition: margin 0.3s ease;
	transition: margin 0.3s ease;
}