@CHARSET "ISO-8859-1";

#myNavbar {
	padding-right: 15px;
}

.text-color{
	color: #28583d;
}
.retake-order{
	float:right;
	color:#28583d;
}
.cart {
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: .25rem;
	margin-bottom: 10px;
}

.cart-header {
	padding: 5px;
	font-size: 18px;
	text-align: center;
	margin-right: 0px;
	margin-left: 0px;
	background-color: rgba(0, 0, 0, .03);
}
.history-cart-header{
	padding: 5px;
	padding-left: 15px;
	font-size: 18px;
	text-align: left;
	margin-right: 0px;
	margin-left: 0px;
	background-color: rgba(0, 0, 0, .03);
}

.cart-row {
	padding: 5px 10px 5px 25px; .
	margin-right: 0px;
	margin-left: 0px;
}

.cart-item {
	padding: 10px;
	border-top: 1px solid rgba(0, 0, 0, .125);
	margin-right: 0px;
	margin-left: 0px;
}

.user-row {
	padding: 5px;
	border-bottom: 1px solid rgba(0, 0, 0, .125);
	border-top: 1px solid rgba(0, 0, 0, .125);
	margin-right: 0px;
	margin-left: 0px;
}

.box-color {
	background-color: rgb(204, 255, 204);
	padding: 5px;
}

.comment-content {
	padding: 10px;
}

.price-item {
	padding-left: 20px;
	padding-top: 10px;
	margin-right: 0px;
	margin-left: 0px;
}

.user-item {
	padding-left: 20px;
	padding-top: 10px;
	border-top: 1px solid rgba(0, 0, 0, .125);
	margin-right: 0px;
	margin-left: 0px;
}

.modal-header {
	background-color: #367753;
	color: white !important;
	text-align: center;
	height: 70px;
}

.modal-header h4, .close {
	color: white !important;
	text-align: center;
	font-size: 20px;
}

.modal-footer {
	background-color: #f9f9f9;
}

#sizeLogin {
	margin-left: 80px;
	margin-right: 80px;
	height: 400px;
}

#sizeRegister {
	margin-left: 80px;
	margin-right: 80px;
	height: 550px;
}

.restaurant-thumbnail {
	max-height: 120px;
	width: 100%;
	max-width: 220px;
	object-fit: cover;
	text-align: center;
}

.top-carousel {
	margin-top: 50px;
	position: relative;
}

.top-carousel-img {
	max-height: 250px;
	max-width: 100%;
	width: 100%;
	object-fit: cover;
	border: 0px;
}

.restaurant-well-content {
	margin: 10px 0px;
	padding: 10px 50px;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

li {
	display: inline;
	list-style-type: none;
}

.top-carousel-indicators {
	top: 220px;
	bottom: auto;
}

.list-restaurant-img-thumbnail {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-height: 160px;
	height: 160px;
}

.restaurant-img-thumbnail {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	max-height: 250px;
}

.glyphicon-plus {
	margin-right: 30px;
}

.product-style {
	/* border-style:inset;
    border-width:5px;  */
	border-color: white;
	border-bottom-style: solid;
	/* font-family: fantasy; */
}

.size-description {
	margin-top: 10px;
}

.size-plus {
	margin-top: 30px;
}

.position-next-page {
	text-align: right:
}

.container-top {
	margin-top: 10px;
}

.marginTop {
	margin-top: 30px;
}

.style-font {
	font-family: fantasy;
	font-family: serif;
}

.product-list-name {
	color: black;
}

.product-list-price {
	color: black;
	float: right;
}

.product-list-delete {
	color: black;
	float: right;
}

.affix {
	top: 0;
	width: 100%;
	top: 50px;
	background: #ddd;
	z-index: 500 !important;
	opacity: 0.90;
}

.navbar {
	margin-bottom: 0px;
}

.affix ~ .container-fluid {
	position: relative;
	top: 50px;
}

.affix>ul>li>a {
	color: #555;
	/* font-weight: bold; */
}

.navbar-restaurant-section>ul>li>a {
	padding: 5px;
}

.navbar-restaurant-section {
	padding: 0px;
	min-height: auto;
	max-width: 960px;
}

span.category-style {
	padding: 5px 20px;
	/* margin-left: 10px; */
	font-size: 18px;
	text-align: center;
}

a.category-style {
	/*  padding: 20px;
	margin-left: 10px; */
	font-size: 18px;
	text-align: center;
}

.content-category {
	/* margin-left: 10px; */
	min-height: auto;
	max-width: 1150px;
	padding: 0px 5px;
	-webkit-transition: width 0.3s ease;
	-moz-transition: width 0.3s ease;
	-o-transition: width 0.3s ease;
	transition: width 0.3s ease;
	margin-top: 0px;
}

a:hover {
	text-decoration: none;
	text-color: black;
}

a:link {
	text-decoration: none;
}

a:active {
	background-color: silver;
}

#idCategory {
	background-color: transparent;
	text-decoration: underline;
	text-decoration: none;
	font-size: 18px;
	/* color: black; */
	font-family: fantasy;
	font-family: serif;
	padding: 0px 20px;
}

#page-carousel{
	width:100%;
}